[main]
# base_dir defaults to os.path.realpath(os.path.dirname(__file__))

# plugin_dir probably /usr/share/roush-agent
plugin_dir = %(base_dir)s/roushagent/plugins

# comma separated list of files or dirs
input_handlers = %(plugin_dir)s/input/task_input.py

# comma separated list of files or dirs
output_handlers = %(plugin_dir)s/output

trans_log_dir = %(base_dir)s/trans_logs

log_config = %(base_dir)s/log.cfg

bash_path = %(base_dir)s/roushagent/plugins/lib/bash
# pidfile.  Only gets dropped if run as daemon, and with
# no pidfile specified, no pidfile will be generated
#
# pidfile = /var/run/roush-agent.pid

[restish]
bind_address = 0.0.0.0
bind_port = 8000

[taskerator]
endpoint = http://127.0.0.1:8080/admin

[adventurator]
endpoint = http://127.0.0.1:8080/admin
