Source: roush-agent
Section: net
Priority: optional
Maintainer: Ron Pedde <ron@pedde.com>
Build-Depends: debhelper (>= 7.0.50~),
 python-all,
 python-support (>= 0.90),
 python-setuptools,
 python-requests
Standards-Version: 3.9.1
XS-Python-Version: >= 2.6
Homepage: https://github.com/rpedde/roush-agent
XCBS-RCB-Component: rcb-utils

Package: roush-agent
Architecture: all
Section: python
Depends: ${python:Depends}, ${misc:Depends},
 python-setuptools,
 python-requests
Provides: ${python:Provides}
Description: Yet another pluggable host-based agent
Recommends: roush-agent-input-task, roush-agent-output-chef,
 roush-agent-output-packages, roush-agent-output-service,
 roush-agent-output-adventurator, roush-agent-output-openstack

Package: roush-agent-input-task
Architecture: all
Section: python
Depends: roush-agent (= ${binary:Version}),
 roush-client,
 python-requests
Provides: ${python:Provides}
Description: the input task plug-in

Package: roush-agent-output-chef
Architecture: all
Section: python
Depends: roush-agent (= ${binary:Version}),
 roush-agent-lib-bash (= ${binary:Version}),
 python-netifaces
Provides: ${python:Provides}
Description: an output plugin to run chef tasks

Package: roush-agent-output-packages
Architecture: all
Section: python
Depends: roush-agent (= ${binary:Version}),
 roush-agent-lib-bash (= ${binary:Version})
Provides: ${python:Provides}
Description: an output plugin to run package tasks

Package: roush-agent-output-openstack
Architecture: all
Section: python
Depends: roush-agent (= ${binary:Version}),
 roush-agent-lib-bash (= ${binary:Version})
Provides: ${python:Provides}
Description: an output plugin to run simple OpenStack tasks

Package: roush-agent-lib-bash
Architecture: all
Section: python
Depends: roush-agent (= ${binary:Version})
Provides: ${python:Provides}
Description: libraries necessary for output tasks to do bash-y things

Package: roush-agent-output-files
Architecture: all
Section: python
Depends: roush-agent (= ${binary:Version})
Provides: ${python:Provides}
Description: a simple file management plugin.  very very unsafe.

Package: roush-agent-output-adventurator
Architecture: all
Section: python
Depends: roush-agent(= ${binary:Version}), roush-agent-input-task(= ${binary:Version}), python-roush
Provides: ${python:Provides}
Description: an output plugin to run adventures

Package: roush-agent-output-service
Architecture: all
Section: python
Depends: roush-agent(= ${binary:Version})
Provides: ${python:Provides}
Description: an output plugin to start/stop/restart services
