Source: roush-agent
Section: net
Priority: optional
Maintainer: Ron Pedde <ron@pedde.com>
Build-Depends: debhelper (>= 7.0.50~),
 python-all,
 python-support (>= 0.90),
 python-setuptools,
 python-requests
Standards-Version: 3.9.1
XS-Python-Version: >= 2.6
Homepage: https://github.com/rpedde/roush-agent
XCBS-RCB-Component: rcb-utils

Package: roush-agent
Architecture: all
Section: python
Depends: ${python:Depends}, ${misc:Depends},
 python-setuptools,
 python-requests
Provides: ${python:Provides}
Description: Yet another pluggable host-based agent

Package: roush-agent-input-task
Architecture: all
Section: python
Depends: roush-agent (= ${binary:Version})
Provides: ${python:Provides}
Description: the input task plug-in

Package: roush-agent-output-chef
Architecture: all
Section: python
Depends: roush-agent (= ${binary:Version}),
 roush-agent-lib-bash (= ${binary:Version})
Provides: ${python:Provides}
Description: the input task plug-in

Package: roush-agent-lib-bash
Architecture: all
Section: python
Depends: roush-agent (= ${binary:Version})
Provides: ${python:Provides}
Description: the input task plug-in

Package: roush-agent-output-files
Architecture: all
Section: python
Depends: roush-agent (= ${binary:Version})
Provides: ${python:Provides}
Description: the input task plug-in
