Source: opencenter-agent
Section: net
Priority: optional
Maintainer: Ron Pedde <ron@pedde.com>
Build-Depends: debhelper (>= 7.0.50~),
 python-all,
 python-support (>= 0.90),
 python-setuptools,
 python-requests
Standards-Version: 3.9.1
XS-Python-Version: >= 2.6
Homepage: https://github.com/rcbops/opencenter-agent
XCBS-RCB-Component: rcb-utils

Package: opencenter-agent
Architecture: all
Section: python
Depends: ${python:Depends}, ${misc:Depends},
 python-setuptools,
 python-requests
Provides: ${python:Provides}
Description: Yet another pluggable host-based agent

Package: opencenter-agent-input-task
Architecture: all
Section: python
Depends: opencenter-agent (= ${binary:Version}),
 opencenter-client,
 python-requests
Provides: ${python:Provides}
Description: the input task plug-in

Package: opencenter-agent-output-chef
Architecture: all
Section: python
Depends: opencenter-agent (= ${binary:Version}),
 opencenter-agent-lib-bash (= ${binary:Version}),
 python-netifaces
Provides: ${python:Provides}
Description: an output plugin to run chef tasks

Package: opencenter-agent-output-packages
Architecture: all
Section: python
Depends: opencenter-agent (= ${binary:Version}),
 opencenter-agent-lib-bash (= ${binary:Version})
Provides: ${python:Provides}
Description: an output plugin to run package tasks

Package: opencenter-agent-lib-bash
Architecture: all
Section: python
Depends: opencenter-agent (= ${binary:Version})
Provides: ${python:Provides}
Description: libraries necessary for output tasks to do bash-y things

Package: opencenter-agent-output-files
Architecture: all
Section: python
Depends: opencenter-agent (= ${binary:Version})
Provides: ${python:Provides}
Description: a simple file management plugin.  very very unsafe.

Package: opencenter-agent-output-adventurator
Architecture: all
Section: python
Depends: opencenter-agent(= ${binary:Version}),
 opencenter-agent-input-task(= ${binary:Version}),
 python-opencenter
Provides: ${python:Provides}
Description: an output plugin to run adventures

Package: opencenter-agent-output-service
Architecture: all
Section: python
Depends: opencenter-agent(= ${binary:Version})
Provides: ${python:Provides}
Description: an output plugin to start/stop/restart services

Package: opencenter-agent-output-openstack
Architecture: all
Section: python
Depends: opencenter-agent (= ${binary:Version}),
 opencenter-agent-lib-bash (= ${binary:Version})
Provides: ${python:Provides}
Description: an output plugin to do openstack-ish things
